{
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 4,
  "semi": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "overrides": [
    {
      "files": [
      ],
      "options": {
        "trailingComma": "es5"
      }
    }
  ]
}
